
.navbar {
display:flex;
flex-wrap: wrap;
background-color: #ffffff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
width:100%;
margin-top:-70px;
}
.navbar-brand {
font-size: 1.5rem;
color: #333;
font-weight: bold;
}

.navbar-toggler {
border: none;
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
color: #333;
font-weight: 500;
padding: 0.5rem 1rem;
}

.navbar-nav .nav-item .nav-link.active {
color: #007bff;
}

.navbar-nav .nav-item .nav-link:hover {
color: #0056b3;
}

.navbar-nav .nav-item .nav-link.disabled {
color: #6c757d;
}

.form-control.inputbox {
width: 200px;
height:40px;
border-radius: 20px;
border: 1px solid #ced4da;
padding: 0.5rem 1rem;
margin-left:70px;
}

.search .btn {
border-radius: 20px;
border: 1px solid #28a745;
color: #28a745;
padding: 0.5rem 1rem;
margin-right:40px;
}

.search .btn:hover {
background-color: #28a745;
color: white;
}

.avatar{
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius:30px;
    height:60px;
    width:150px;
    margin-left:5px;
}

button:hover {
background-color: #0056b3;
}
.popup{
    display:flex;
    height:700px;
    padding:15px;

}

.title {
display: flex;
justify-content: space-between;
}

.info {
display: flex;
align-items: center;
margin-bottom: 10px;
}

.avatar {
margin-right: 10px;
}

.scope {
display: flex;
align-items: center;
cursor: pointer;
}

.Field {
margin-top: 10px;
}

.Field input[type="text"] {
width: 100%;
border: 1px solid lightgray;
padding: 10px;
margin-bottom: 10px;
outline: none;
}

.displayimage {
height: 40vh;
object-fit: contain;
}

.buttons {
display: flex;
justify-content: flex-end;
gap: 10px;
margin-top: 10px;
}

.cancel {
background-color: #dc3545;
color: white;
padding:10px;
border-radius:30px;
}

.cancel:hover {
background-color: #c82333;
}

.add {
background-color: #28a745;
color: white;
padding:10px;
border-radius:30px;
}

.add:hover {
background-color: #218838;
}
